<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Xeon | OnePage Responsive Theme</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/prettyPhoto.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="images/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">
  <header id="header" role="banner">
    <div class="container">
      <div id="navbar" class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Editionly</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#main-slider"><i class="glyphicon glyphicon-home"></i></a></li>
            <li><a href="#how_it_works">How it Works</a></li>
            <li><a href="#examples">Examples</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <!-- <li><a href="#about-us">About Us</a></li> -->
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header><!--/#header-->

  <section id="main-slider" class="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <div class="carousel-content">
            <h1>Learn Directly with the Author</h1>
            <p class="lead">Monthly book club to help keep you reading and growing</p>
            <%= link_to "Get Started", new_user_registration_path, class: 'btn btn-success btn-lg' %>
            <a href="#how_it_works", class="btn btn-primary btn-lg">How it Works</a>
          </div>
        </div>
      </div><!--/.item-->
    </div><!--/.carousel-inner-->
  </section><!--/#main-slider-->

  <section id="how_it_works">
    <div class="container">
      <div class="box">
        <div class="center gap">
          <h2>How it Works in Three Easy Steps</h2>
          <p class="lead">Step 1: Book gets delivered to your door. <br>Step 2: You read book and write down questions.<br>Step 3: Login at end of the month and ask questions directly to the author.</p>
        </div><!--/.center-->


        <!-- Inserted from skilltra.de -->
        <div class="content-section-a">
          <div class="container">

            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Stay Ahead of the Curve</h2>
                <p class="lead">23% of Americans didn't read a single book in 2014. . . <br> Don't be one of those people.</p>
              </div>
              <div class="col-lg-5 col-sm-6">
                <%= image_tag('woman-holding-box.jpg', :class => "img-responsive") %>
              </div>
            </div>
          </div>
          <!-- /.container -->
        </div>
        <!-- End Inserted from skilltra.de -->

      </div><!--/.box-->
    </div><!--/.container-->
  </section><!--/#how_it_works-->


  <section id="examples">
    <div class="container">
      <div class="box first">
        <div class="center gap">
          <h2>Read a Book a Month</h2>
          <p class="lead"></p>
        </div><!--/.center-->

        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="center">
              <%= image_tag('contagious.jpg', class: 'img-responsive') %>            </div>

          </div><!--/.col-md-4-->
          <div class="col-md-4 col-sm-6">
            <div class="center">
              <%= image_tag('4-hour-work-week.jpg', class: 'img-responsive') %>            </div>
              <h4></h4>
              <p></p>

          </div><!--/.col-md-4-->
          <div class="col-md-4 col-sm-6">
            <div class="center">
              <%= image_tag('influence.jpg', class: 'img-responsive') %>
              <h4></h4>
              <p></p>
            </div>
          </div><!--/.col-md-4-->
          <div class="col-md-4 col-sm-6">
            <div class="center">
              <%= image_tag('mastery.jpg', class: 'img-responsive') %>
              <h4></h4>
              <p></p>
            </div>
          </div><!--/.col-md-4-->
          <div class="col-md-4 col-sm-6">
            <div class="center">
              <%= image_tag('power-of-habit.jpg', class: 'img-responsive') %>
              <h4></h4>
              <p></p>
            </div>
          </div><!--/.col-md-4-->
          <div class="col-md-4 col-sm-6">
            <div class="center">
              <%= image_tag('zero-to-one.jpg', class: 'img-responsive') %>
              <h4></h4>
              <p></p>
            </div>
          </div><!--/.col-md-4-->
        </div><!--/.row-->
      </div><!--/.box-->
    </div><!--/.container-->
  </section><!--/#services-->


  <section id="pricing">
    <div class="container">
      <div class="box">
        <div class="center">
          <h2>Pricing</h2>
          <p class="lead"></p>
        </div><!--/.center-->
        <div class="big-gap"></div>
        <div id="pricing-table" class="row">
          <div class="col-sm-4">
            <ul class="plan">
              <li class="plan-name">Library Edition</li>
              <li class="plan-price">$15</li>
              <li>Printable Notes</li>
              <li>1 Pass to the Book Club Live event with the author</li>
              <li>Video download of the interview</li>

              <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
            </ul>
          </div><!--/.col-sm-4-->
          <div class="col-sm-4">
            <ul class="plan featured">
              <li class="plan-name">Standard<br>(Most Popular)</li>
              <li class="plan-price">$35</li>
              <li>Book of the Month Delivered (don't worry we ask you before shipping anything)</li>
              <li>Printed Notes</li>
              <li>2 Passes to the Book Club Live Event with the author</li>
              <li>Video downloads of the interview for you and guest</li>
              <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
            </ul>
          </div><!--/.col-sm-4-->
          <div class="col-sm-4">
            <ul class="plan">
              <li class="plan-name">Rock Star</li>
              <li class="plan-price">$55</li>
              <li>Book of the Month Delivered (don't worry we ask you before shipping anything)</li>
              <li>Printed Notes</li>
              <li>4 Passes to the Book Club Live Event with the author</li>
              <li>Video downloads of the interview for you and guests</li>
              <li>Extra Goodies</li>
              <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
            </ul>
          </div><!--/.col-sm-4-->
        </div>
      </div>
    </div>
  </section><!--/#pricing-->

  <!-- <section id="contact">
    <div class="container">
      <div class="box last">
        <div class="row">
          <div class="col-sm-6">
            <h1>Contact Form</h1>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            <div class="status alert alert-success" style="display: none"></div>
            <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" class="form-control" required="required" placeholder="Name">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" class="form-control" required="required" placeholder="Email address">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-danger btn-lg">Send Message</button>
                  </div>
                </div>
              </div>
            </form>
          </div><!--/.col-sm-6-->
          <!-- <div class="col-sm-6">
            <h1>Our Address</h1>
            <div class="row">
              <div class="col-md-6">
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
              <div class="col-md-6">
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
            </div>
            <h1>Connect with us</h1>
            <div class="row">
              <div class="col-md-6">
                <ul class="social">
                  <li><a href="#"><i class="icon-facebook icon-social"></i> Facebook</a></li>
                  <li><a href="#"><i class="icon-google-plus icon-social"></i> Google Plus</a></li>
                  <li><a href="#"><i class="icon-pinterest icon-social"></i> Pinterest</a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="social">
                  <li><a href="#"><i class="icon-linkedin icon-social"></i> Linkedin</a></li>
                  <li><a href="#"><i class="icon-twitter icon-social"></i> Twitter</a></li>
                  <li><a href="#"><i class="icon-youtube icon-social"></i> Youtube</a></li>
                </ul>
              </div>
            </div>
          </div><!--/.col-sm-6-->
        <!-- </div><!--/.row-->
      <!-- </div><!--/.box-->
    <!-- </div><!--/.container-->
  <!-- </section><!--/#contact-->

  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          &copy; 2015 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Editionly</a>. All Rights Reserved.
        </div>
        <div class="col-sm-6">
          <!-- <img class="pull-right" src="images/shapebootstrap.png" alt="ShapeBootstrap" title="ShapeBootstrap"> -->
        </div>
      </div>
    </div>
  </footer><!--/#footer-->

  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.isotope.min.js"></script>
  <script src="js/jquery.prettyPhoto.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
